### Java ###
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*

### Maven ###
target/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

.omc/

.mcp.json

